
<form action="/new_game" method="post">
<p>Please Enter number of players: <input name="number_of_players" type="text" maxlength="2" autocomplete="off" value="2"> </p>
<p>Please Enter Grid Size: <input name="grid_size" type="text" maxlength="2" autocomplete="off" value="10"> </p>
<p>Please Enter Number of Ships: <input name="number_of_ships" type="text" maxlength="2" autocomplete="off" value="5"> </p>
<button type="submit" class="btn btn-primary">Start your Game!</button>
</form>